/* You're welcome to change any of this! */
* {
    box-sizing: border-box;
    font-family: <link rel="stylesheet" href="https://fonts.google.com/specimen/Bebas+Neue?classification=Display&sort=popularity"> ;
}

body {
    margin: 0px;
    font-family: Arial, sans-serif;
}

p, a, li {
    line-height: 1.5em;
    font-size: 1.1em;
}
header {
    
}