body {
    margin: 0;
}
header {
    background-color: #45425a;
    color: white;
    padding: 20px;
}

footer {
    background-color: #EEE;
    padding: 30px;
    margin-top: 30px;
    text-align: center;
    font-weight: bold;
    
}

ol {
    margin-bottom: 40px;
}

code {
    background-color: #EEE;
    font-size: 1.2em;
    font-weight: bold;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
}

.card {
    border: solid 2px #000;
    padding: 10px;
}

.card img {
    width: 100%;
    border: solid 2px #000;
}

footer {
    background-color: #EEE;
    padding: 30px;
    margin-top: 30px;
    text-align: center;
}
main {
margin-left: 15vw;
margin-right: 15vw;
}
 .cards #card1 {
    background-color: #EEEEEE;
 }
.cards #card3 {
    background-color: #EEEEEE;
}
.cards #card5 {
    background-color: #EEEEEE;
}
.cards #card2 {
    background-color: #bce5d6 ;
}
.cards #card4 {
    background-color: #bce5d6;
}
.cards #card6 {
    background-color: #bce5d6;
}
.cards #card1 img {
    border-radius: 50%;
}
.cards #card3 img {
    border-radius: 50%;
}
.cards #card5 img {
    border-radius: 50%;
}
* {
    font-family: 'Courier New', Courier, monospace;
}
main>p {
    font-weight: bold;
}